.welcomeForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    margin: 50% auto;
    text-align: center;
    padding: 50px 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    height: 300px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.welcomeForm__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #3e3e3e;
}

.welcomeRegister__name {
    text-align: center;
    color: #233024;
}
.welcomeForm__name {
    text-align: center;
    color: white;
}


.welcomeForm_header {
    text-align: center;
    margin-bottom: 5px;

}

.welcome__information {
    margin-bottom: 30px;
}

.form-group {
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    color: #3e3e3e;
    text-align: center;
}

.form-group-select {
    text-align: center;
    width: 95%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 12px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #3e3e3e;
    margin: 5px;
}

.form-group label {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #3e3e3e;
}

.form-group input[type="datetime-local"] {
    align-self: center;
    text-align: center;
    margin-left: 3%;
    /* margin-right: 25%; */
    width: 80%;
    padding: 12px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #3e3e3e;
}

.btnbtn-primary {
    background-color: #bda5f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 75px;
    margin-bottom: 10%;
}

.btnbtn-primary:hover {
    background-color: #8ce9e0;
}

.welcomeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.welcome {
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #656c65;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: #656c65;
    text-align: left;
}

.welcome__imageURL {
    width: 200px;
    height: 150px;
    /* width: 100%; */
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.welcome__name,
.welcome__phone,
.welcome__dateTime,
.welcome__progress {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 1px;
}

.welcome__name {
    font-weight: normal;
}

.welcome__progress {
    font-style: italic;
    font-weight: bold;
    color: #233024;
}

.welcomeCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 6%;
    margin-right: 6%;
    background: transparent;
}

/* .welcomeWelcome {
    flex: auto;
}

.welcomeCleaning {
    flex: auto;
}

.welcomeSuggester {
    flex: auto;
} */
