.navbar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding: 0.5rem 1rem;
}

.navbar h3 {
    font-size: 1.5rem;
    color: #333;
}

.navbar__item {
    margin-right: 1rem;
}

.navbar__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.navbar__link:hover {
    color: #bda5f5;
}

.navbar__link.active {
    color: #8ce9e0;
    border-bottom: 2px solid #8ce9e0;
}

.navbar__link.fakeLink {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.navbar__link.fakeLink:hover {
    color: #8ce9e0;
}

.logout-property {
    background-color: #bda5f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}
.logout-property:hover {
    background-color: #6c0000;
}

.login-property {
    background-color: #bda5f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}
.login-property:hover {
    background-color: #8ce9e0;
}

.register-property {
    background-color: #233024;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}
.register-property:hover {
    background-color: #8ce9e0;
}
